/* Font */
@font-face {
    font-family: Norse-Bold;
    src: local(Norse-Bold), url(Norse-Bold.otf);
}

html, body, input, h1{
    font-family: Norse-Bold;
}

a { color: inherit; } 

.photo-credit {
    color: azure;
    font-size: 0.8em;
    place-self: end center;
}

/* Layout */
html, body{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    background-image: url(photobank-kiev-Opzk_hvwO9Q-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.left-section {
    display: flex;
    width: clamp(0vw, 40vw, 50vw);
    justify-content: center;
}

.right-section {
    display: flex;
    flex-direction: column;
    width: clamp(50vw, 60vw, 100vw);
    background-color: rgba(206, 103, 18, 0.803);
}

form {
    display: flex;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(206, 103, 18, 0.827);
}

.hero, .form-fields {
    padding-left: 30px;
}

.form-fields {
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    max-width: 60%;
    padding-top: 30px;
}

.form-fields > div {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 30px;
    width: min(175px, 100%);
}
label {
    margin-bottom: 4px;
}

input {
    width: 100%;
}

button {
    margin-top: 10px;
    margin-left: 30px;
}